
.adSlideContainer{
    height: 230px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.swiperRel{
    position: relative;
}
.adSlide{
height: 100%;
width: 100%;


}
.items{
    background-color: yellow;
    height: 260px;
    
}