.menuContainer{
    background-color: #fff;
    width:200px;
    text-align: left;
    padding-left: 16px;
    position: absolute;
    top:60px;
    left: 940px;
    box-shadow: 0 0px 10px 5px rgb(137, 137, 137);
    border-radius: 8px;
}
.menuContainer div{
    display: flex;
    margin:14px 0;
    align-items: center;
    gap:8px;
}
.myKartMenuP{
    font-size: 18px;
}